<!DOCTYPE html>
<html>
<head>
  <title>ObservatorioServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Fazer semelhante na view:

  <div class="nav pull-right">
       <% if current_user %>
         <ul>
           <li><%= current_user.email %></li>
           <li><%= link_to "Log out", logout_path, method: "delete" %></li>
         </ul>
       <% else %>
         <ul>
           <li><%= link_to "Login", 'login' %></a></li>
           <li><%= link_to "Signup", 'signup' %></a></li>
         </ul>
       <% end %>

     </div>
-->
<%= yield %>

</body>
</html>
